@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_B");
    var cid = Request.QueryString["cid"];

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }

    var db = Database.Open("CHINOOK");

    string sqlcommand1 = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
    var partialstring = "%" + cid + "%";
    var results = db.Query(sqlcommand1, partialstring);
    if (results.Count() == 0)
    {
        <p style="color:orangered">There was no record returned from the database</p>
    }
    else
    {
        <p style="color:green">I found @results.Count() record/s from the database!</p>
    }
}

@section banner {
    <h1>@Page.Title</h1>
}
@if(IsPost)
{
    var choice = Request.Form["artistSelection"];
    if (string.IsNullOrEmpty(choice))
    {
        <p style="color:orangered">Please select an Artist from the list!</p>
    }
    else
    {
        string sqlcommand2 = "SELECT AlbumId, Title, ReleaseYear, ReleaseLabel FROM Albums WHERE ArtistId = @0";
        partialstring = choice;
        var albumResults = db.Query(sqlcommand2,partialstring);
        if (albumResults.Count() == 0)
        {
            <p style="color:orangered">They don't have any albums!</p>
        }
        else
        {
            Response.Redirect("Exercise02_C.cshtml?cid="+choice);
        }
    }
}
else
{

}

<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="lblArtistSelection">Select and artist from the list: </label>
            <select id="artistSelection" name="artistSelection">
                <option value="">select . . .</option>
                @foreach (var row in results)
                {
                    <option value="@row.ArtistId">@row.Name</option>
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="submit" class="btn btn-primary">Fetch Album</button>
        </div>
    </div>
</form>
